@import './style.styl'

#fuemschaun-connect-form-container
    normalize-container()
    // Position fixed on bottom
    position fixed
    bottom 0px
    width 100%
    height auto
    z-index 2147483647

    .fuemschaun-close-button
        float right