#fuemschaun-container {
    --padding: 20px;
    /* Position fixed on bottom */
    position: absolute;
    bottom: 0px;
    width: calc(100% - var(--padding) * 2);
    height: auto;
    z-index: 2147483647;
    /* Normalize styling */
    padding: var(--padding);
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#fuemschaun-container .fuemschaun-close-button {
    float: right;
}