#fuemschaun-container {
    /* Position fixed on bottom */
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 2147483647;
    /* Normalize styling */
    display: block;
    box-sizing: border-box;
    padding: 20px;
    color: black;
    background-color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#fuemschaun-container .fuemschaun-close-button {
    float: right;
}