normalize-container()
    color black
    background-color white
    font-size 15px
    font-family Arial, Helvetica, sans-serif
    display block
    box-sizing border-box
    padding 20px
    margin 0

overlay()
    position fixed
    z-index 2147483647
